# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
wheels/
*.egg-info

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# pyenv
.python-version

# Virtual environments
.venv

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# PyCharm
.idea/
